/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS RESET END*/

/*CUSTOM CSS START*/


.navbar{
	display: flex;
	flex-direction: row;
	border-top:solid #F48024;
	height: 50px;
	width: 100%;
	background-color: #FAFAFB;
}

.hamburger-menu{
    margin-left: 53px;
    width: 44px;
    height: 100%;
    margin-top: 15px;
}

.hamburger-menu hr{
	width: 18px;
    height: 2px;
	border: none;
	background-color: #848D95;
	margin: 3px;
}

.logo-img{
    width: 146px;
    height: auto;
    position: relative;
    right: 2px;
    margin-top: 8px;
    margin-right: 20px;
}

.navbar-links a{
	position: relative;
	text-decoration: none;
	margin: 16px;
	font-family: sans-serif;
	color: #535A60;
	font-size: 13px;
	top: 15px;
    right: 9px;
}
.hero-container{
	display: flex;
    background-color: #ffcf10;
    background-image: url(./images/illo-hero-full.png);
    background-repeat: no-repeat;
	background-position: top center;
	height: 500px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.hero-container h1{
	font-size: 55px;
	font-weight: 700;
	font-family: 'Roboto Slab', sans-serif;
	color: #242729;
	margin-bottom: 16px;
}

.hero-container h1 span {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif !important;
}

.hero-container p{
    font-size: 19px;
    font-family: 'Open Sans',sans-serif;
    max-width: 427px;
    line-height: 1.5;
    text-align: center;
    color: #242729;
    margin-bottom: 24px;
}

.hero-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-btn{
	padding: 12px 24px;
}

.hero-btn-left{
	background-color: #fff;

}

.hero-btn-right{

}
